.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1a1917;
}
.page-text {
  color: rgb(255, 255, 255);
  font-size: 192px;
  align-self: center;
  font-family: "Montserrat-700";
  font-weight: 700;
}
.page-text1 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  align-self: center;
  font-style: normal;
  font-family: "Montserrat-400";
  font-weight: 400;
}
.page-navlink {
  color: #828282;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-sixunits);
  transition: 0.3s;
  font-family: "Montserrat-400";
  font-weight: 400;
  text-decoration: none;
}
.page-navlink:hover {
  color: #ffffff;
  transform: scale(1.04);
}
