.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: center;
  padding-top: 32px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 16px;
}
.header-navlink {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-family: "montserrat";
  font-weight: 600;
  line-height: 1.15;
  padding-bottom: 2px;
  text-transform: none;
  text-decoration: none;
}
.header-navlink1 {
  color: #bebebe;
  font-size: 20px;
  font-family: "Montserrat-400";
  text-decoration: none;
}
.header-separator {
  width: 90%;
  height: 1px;
  margin-top: 16px;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 8px;
  background-color: #828282;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-navlink2 {
  color: #828282;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat-700";
  font-weight: 700;
  text-decoration: none;
}
.header-navlink2:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}
.header-navlink3 {
  color: #828282;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat-700";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink3:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}
.header-link {
  color: #828282;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat-700";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-link:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}




@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-separator {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .header-nav {
    flex-direction: row;
  }
  .header-navlink2 {
    margin-bottom: 0px;
  }
  .header-navlink3 {
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
  .header-link {
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .header-navlink {
    align-self: flex-start;
    text-align: left;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .header-navlink1 {
    align-self: flex-start;
    text-align: left;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .header-separator {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .header-nav {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-self: center;
    justify-content: flex-start;
  }
  .header-navlink3 {
    margin-left: 0px;
  }
  .header-link {
    margin-left: 0px;
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: #4e4e4e;
  width: 26px;
  height: 26px;
  margin: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  text-decoration: none;
}
.footer-icon:hover {
  fill: #ffffff;
  width: 26px;
  height: 26px;
  transform: scale(1.02);
}



.red-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #1a1917;
}
.red-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: center;
}
.red-video {
  width: 100%;
  height: auto;
  border-radius: 36px;
}
.red-text {
  color: rgb(190, 190, 190);
  width: 100%;
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
  font-family: "Montserrat-600";
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 128px;
}
.red-image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-20px);
  background-size: cover;
  background-image: 94a1e5ad-d293-4607-b9f5-3a3f161e44af;
}
.red-text07 {
  color: rgb(190, 190, 190);
  width: 100%;
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
  font-family: "Montserrat-600";
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 128px;
}
.red-video1 {
  width: 100%;
  height: auto;
  border-radius: 36px;
}
.red-text16 {
  color: rgb(190, 190, 190);
  width: 100%;
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
  font-family: "Montserrat-600";
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 128px;
}
.red-link {
  text-decoration: underline;
}
.red-image1 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-20px);
}
.red-text26 {
  color: rgb(190, 190, 190);
  width: 100%;
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
  font-family: "Montserrat-600";
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 128px;
}
.red-video2 {
  width: 100%;
  height: auto;
  border-radius: 36px;
}
.red-text32 {
  color: rgb(190, 190, 190);
  width: 100%;
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
  font-family: "Montserrat-600";
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.red-link1 {
  text-decoration: underline;
}
@media(max-width: 767px) {
  .red-container1 {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 479px) {
  .red-container1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
