.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: #4e4e4e;
  width: 26px;
  height: 26px;
  margin: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  text-decoration: none;
}
.footer-icon:hover {
  fill: #ffffff;
  width: 26px;
  height: 26px;
  transform: scale(1.02);
}


