.footer-footer {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}
.footer-icon {
  fill: #4e4e4e;
  width: 26px;
  height: 26px;
  margin: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
}
.footer-icon:hover {
  fill: #ffffff;
}
.footer-link {
  display: contents;
}
.footer-icon3 {
  fill: #4e4e4e;
  width: 26px;
  height: 26px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.footer-icon3:hover {
  fill: #ffffff;
}
.footer-icon6 {
  fill: #4e4e4e;
  width: 26px;
  height: 26px;
  margin: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
}
.footer-icon6:hover {
  fill: #ffffff;
}
