.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: #4e4e4e;
  width: 26px;
  height: 26px;
  margin-top: 16px;
  transition: 0.3s;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  text-decoration: none;
}
.footer-icon:hover {
  fill: var(--dl-color-gray-white);
  transform: scale(1.02);
}
.footer-icon:active {
  transform: scale(1.03);
}


