.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: center;
  padding-top: 32px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 16px;
}
.header-navlink {
  color: #ffffff;
  font-size: 48px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1.15;
  padding-bottom: 2px;
  text-transform: none;
  text-decoration: none;
}
.header-navlink1 {
  color: #bebebe;
  font-size: 20px;
  font-family: "Montserrat";
  text-decoration: none;
}
.header-separator {
  width: 90%;
  height: 1px;
  margin-top: 16px;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 8px;
  background-color: #828282;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-navlink2 {
  color: #828282;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.header-navlink2:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}
.header-navlink3 {
  color: #828282;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink3:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}
.header-link {
  color: #828282;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-link:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}




@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-separator {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .header-nav {
    flex-direction: row;
  }
  .header-navlink2 {
    margin-bottom: 0px;
  }
  .header-navlink3 {
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
  .header-link {
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .header-navlink {
    align-self: flex-start;
    text-align: left;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .header-navlink1 {
    align-self: flex-start;
    text-align: left;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .header-separator {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .header-nav {
    align-self: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
}
