.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #bebebe;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.navigation-links-text:hover {
  text-decoration: underline;
}
.navigation-links-text1 {
  color: #bebebe;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-text1:hover {
  text-decoration: underline;
}
.navigation-links-text2 {
  color: #bebebe;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-text2:hover {
  text-decoration: underline;
}
















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
