.red-link-gallery-card {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.red-link-gallery-card:hover {
  transform: scale(1.025);
  background-color: rgba(255, 255, 255, 0.13);
}
.red-link-gallery-card:active {
  transform: scale(1.04);
}
.red-link-video {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 32px;
}
.red-link-text {
  color: #ffffff;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Montserrat-700";
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: 6px;
}
.red-link-text1 {
  color: #828282;
  align-self: flex-start;
  font-family: "Montserrat-700";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 16px;
}

@media(max-width: 767px) {
  .red-link-gallery-card {
    flex-direction: column;
  }
}
