.toybox-link-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.toybox-link-image {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.toybox-link-text {
  color: #bebebe;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.toybox-link-text1 {
  color: #969696;
  align-self: flex-start;
}

@media(max-width: 767px) {
  .toybox-link-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .toybox-link-image {
    height: 10rem;
  }
}
